body {
    font-family: Montserrat Alternates;
    font-family: regular;
    background-color: white;
};

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-contacts-list-item{
    color: black;
    font-size: 12px;
    text-decoration: none;
    line-height: 52px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    margin-top: 61px;
    margin-bottom: 59px;
    margin-right: 187px;
};

.footer-email-input .input{
    background-color: #D7D7D7;
    color: #7E7E7E;
    border-style: solid;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    margin-top: 97px;
    margin-bottom: 18px
};

.footer-email-input .p{
    font-size: 6px;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
};

.footer-button{
    background-color: black;
    color: white;
    border-radius: 10px;  
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    margin-left: 36px;
    margin-top: 97px;
    margin-right: 174px;
};

.logo-footer{
    height: 70px;
    width: 165px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 175px;
    margin-right: 185px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-info,
  .footer-email-input {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .footer-button {
    width: 100%;
  }

  .footer-email-input input[type="email"] {
    width: 100%;
  }

  .footer-logo-cm {
    justify-content: center;
    margin-bottom: 10px;
  }

  .logo-footer {
    margin: 0;
  }
}