body {
    font-family: Montserrat Alternates;
    font-family: regular;
    background-color: white;
};

.footer-contacts-list-item{
    color: black;
    font-size: 12px;
    text-decoration: none;
    line-height: 52px;
};

.footer-email-input .input{
    background-color: #D7D7D7;
    color: #7E7E7E;
    border-style: solid;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;;
};

.footer-email-input .p{
    font-size: 6px;
    color: black;
};

.footer-button{
    background-color: black;
    color: white;
    border-radius: 10px;  
};

