body {
    font-family: Montserrat Alternates;
    font-family: sans-serif;
    background-color: white;
    color: rgb(0, 0, 0);
    
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    background-color: #FFFFFF;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
  }


  .links-text {
    text-decoration: none;
    color: black;
  }
  
  .theme-toggle input[type="checkbox"] {
    display: none;
  }
  
  .theme-toggle label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: gray;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .theme-toggle label::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 0.3s;
  }
  
  .theme-toggle input:checked + label::after {
    left: 21px;
  }
  
  .dark-theme {
    background-color: #121212;
    color: white;
  }
  
  .dark-theme .navbar {
    background-color: #1e1e1e;
  }

  .nav-links li {
    position: relative;
  }

  .dropdown-menu{
   border-top: none;
   border-radius: 0px 0px 20px 20px;
   border-width: 2px;
   border-color: #121212;
  
   
}

.dropdown-li{
  padding: 10px;
  justify-content: center;
  
}

.theme-toggle .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  z-index: 1;
  transition: opacity 0.3s;
}

.theme-toggle .moon {
  left: 6px;
  opacity: 1;
}

.theme-toggle .sun {
  right: 6px;
  opacity: 0;
}

.theme-toggle input:checked + label::after {
  left: 21px;
}

.theme-toggle input:checked + label .moon {
  opacity: 0;
}

.theme-toggle input:checked + label .sun {
  opacity: 1;
}

/* Темна тема */
.dark-theme {
  background-color: #121212;
  color: white;
}

.dark-theme .navbar {
  background-color: #1e1e1e;
}



  
  