.container-scientists {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cont-2 {
    margin-top: 40px;
    width: 600px;
    padding-top: 36px;
    border-top: solid 1px;
    position: relative;
}

.select-s {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 36px;
}
.box-s {
    display: flex;
    flex-wrap: wrap;
    row-gap: 36px;
    column-gap: 60px;
    margin-bottom: 36px;
}
.box-cart-s {
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 20px;
    border: none;
}
.box-s-button-cart {
    background-color: #000000;
    color: white;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.3);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;

}

.box-s-button {
    width: 1000px;
    margin: 0 auto;


}

.box-s-button-border {
    width: 600px;
    height: 0;
    border-bottom: 1px solid black;
    margin: 0 auto;
    padding-bottom: 36px;
}


.box-s-button {

}

.box-s-button-cart {
    min-width: 220px;
    text-align: left;
    width: auto;
    display: flex;
    justify-content: center;
    
  }
.box-s-button-row {
    display: flex;
    justify-content: center;

}
.row1{
    padding: 20px 0;
    gap: 36px;
    margin-left: 60px;
}
.row2{
    padding-bottom: 20px;
    width: 1000px;
    gap: 36px;
    margin-left: 95px;
}
.row3{
    padding-bottom: 20px;
    gap: 36px;

}
.row4{
    padding-bottom: 20px;
    gap: 36px;
    margin-right: 5px;
    .box-s-button-cart:nth-child(1){
        height: 40px;
    }
    .box-s-button-cart{
        max-width: 410px;
    }
}
.box-cart-s {
    p {
        width: 65px;
        font-size: 10px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-s-button-cart {
    transition: background-color 0.3s ease;
  }
  
  .box-s-button-cart:hover {
    background-color: #000000ad;
    cursor: pointer;
  }
  
  .box-s-button-cart.active {
    background-color: #082904a6;
    color: rgb(0, 0, 0);
  }
  