// body {
//     font-family: Montserrat, Alternates;
//     text-align: center;
//     margin-top: 100px;
//   }
  .game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-container {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 50px;
    margin-top: 35px;
  }
  .guess-input{
    padding: 10px;
    font-size: 16px;
    border: none;
    width: 160px;
    background-color: rgba(215, 215, 215, 1);
  }
  .guess-button {
    padding: 10px 16px;
    background-color: black;
    color: rgba(126, 126, 126, 1);
    border-radius: 13px;
    cursor: pointer;
  }
  #guess-result {
    margin-left: 20px;
    font-size: 18px;
    min-width: 220px;
    text-align: left;
    margin-top: 20px;
  }

  .text-1{
    font-size: 35px;
  }

  .imgg{
    width: 25px;
  }