// Import all of Bootstrap's CSS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./sections/modal-window.scss";
@import "./sections/header";

@import "./sections/section-1.scss";
@import "./sections/section-2.scss";
@import "./sections/section-num.scss";

@import "./sections/calculator.scss";
@import "./sections/dino.scss";
@import "./sections/football.scss";
@import "./sections/sec.scss";
@import "./sections/hh.scss";
@import "./sections/scientists.scss";











main{
  background-image:url("../public/img/background.png");
  background-repeat:no-repeat ;
  background-size: cover;
}

body{
    margin: 0;
}