  <div class="container">
  <h2>Калькулятор</h2>
  <div class="calculator">
    <input type="number" id="num1" placeholder="Введіть число">

    <div class="operations">
      <button data-op="+">+</button>
      <button data-op="-">−</button>
      <button data-op="*">*</button>
      <button data-op="/">/</button>
    </div>

    <input type="number" id="num2" placeholder="Введіть число">
    <button id="equals">=</button>
    <input type="text" id="result" placeholder="Результат" disabled>
  </div>
  </div>
