  <section data-action="numbers_sections">
     <div class="container">
  <h2>Калькулятор</h2>
  <div class="calculator">
    <input type="number" id="number-calc1" placeholder="Введіть число">

    <div class="operations_calc">
      <button data-op="+">+</button>
      <button data-op="-">−</button>
      <button data-op="*">*</button>
      <button data-op="/">/</button>
    </div>

    <input type="number" id="number-calc2" placeholder="Введіть число">
    <button id="equals_calc">=</button>
    <input type="text" id="result_calc" placeholder="Результат" disabled>
  </div>
  </div>
  </section>
 
