<h1>Калькулятор</h1>
<div class="calculator">
  <input type="number" id="num1" placeholder="Введіть число">

  <div class="operations">
    <button onclick="setOperation('+')">+</button>
    <button onclick="setOperation('-')">−</button>
    <button onclick="setOperation('*')">*</button>
    <button onclick="setOperation('/')">/</button>
  </div>

  <input type="number" id="num2" placeholder="Введіть число">
  <button id="equals" onclick="calculate()">=</button>
  <input type="text" id="result" placeholder="Результат" disabled>
</div>