<footer class="coding-magic-footer">
    <div class="container">
        <div class="footer-content">
        <div class="footer-logo-cm">
            <a class="logo-footer" href="footer.html"><img src="" alt="Coding Magic"></a>
        </div>
            <div class="footer-info">
            <ul class="footer-contacts-list">
                <li class="footer-contacts-list-item">
                    <a class="footer-contacts-link" href="#">Тел: +38 (123) 456 78 90</a>
                    <a class="footer-contacts-link" href="#">E-Mail: codingmagic@gmail.com</a>
                    <a class="footer-contacts-link" href="#">Facebook: CodingMagic</a>
                    <a class="footer-contacts-link" href="#">Twitter: CodingMagic</a>
                    <a class="footer-contacts-link" href="#">Instagram: CodingMagic</a>
                </li>
            </ul>
        </div>
        <div class="footer-email-input">
            <input type="email" placeholder="Ваша ел. адреса...">
            <button class="footer-button">Підписатись</button>
            <p>*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
        </div>
    </div>
    </div>
</footer>