  <footer class="coding-magic-footer">
    <div class="container">
        <div class="footer-content">
        <div class="footer-logo-cm">
            <a class="logo-footer" href="footer.html"><img class="img-footer" src="img/group-4.svg" alt="Coding Magic"></a>
        </div>
            <div class="footer-info">
            <ul class="footer-contacts-list">
                    <li class="footer-contacts-list-item"><a class="footer-contacts-link" href="#">Тел: +38 (123) 456 78 90</a></li>
                    <li class="footer-contacts-list-item"><a class="footer-contacts-link" href="#">Тел: +38 (123) 456 78 90</a></li>
                    <li class="footer-contacts-list-item"><a class="footer-contacts-link" href="#">Facebook: CodingMagic</a></li>
                    <li class="footer-contacts-list-item"><a class="footer-contacts-link" href="#">Twitter: CodingMagic</a></li>
                    <li class="footer-contacts-list-item"><a class="footer-contacts-link" href="#">Instagram: CodingMagic</a></li>
            </ul>
        </div>
        <div class="footer-email-input">
            <input type="email" placeholder="Ваша ел. адреса...">
            <button class="footer-button" id="openThanks">Підписатись</button>
            <p>*Підписавшись, Ви зможете отримувати інформаццію про новинки на сайті</p>
        </div>
    </div>
    </div>
</footer>
    <div class="modal-overlay-window" id="thankYouModal">
        <div class="modall-window">
            <span class="close-btn" id="closeThanks">×</span>
            <div class="modal-overlay-div">
                <div class="icons">
                    <img src="./public/img/puzzle-icon.png" alt="icon" />
                    <img src="./public/img/game-icon.png" alt="icon" />
                </div>
                <h3>Дякую за підписку!</h3>
                <div class="icons">
                    <img src="./public/img/puzzle-icon.png" alt="icon" />
                    <img src="./public/img/tic-icon.png" alt="icon" />
                </div>
            </div>
        </div>
    </div>