<header>
  
  <nav class="navbar">
    <img src="./public/img/group-4.svg">
    <ul class="nav-links">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Інтерактив
        </a>
        <ul class="dropdown-menu">
           <li class="dropdown-li">
            <a class="dropdown-item" href="#" data-category="all">Всі секції</a>
          </li>
          <li class="dropdown-li">
            <a class="dropdown-item" href="#" data-category="numbers">Числовий</a>
          </li>
          <li class="dropdown-li">
            <a class="dropdown-item" href="#" data-category="games">Ігровий</a>
          </li>
          <li class="dropdown-li">
            <a class="dropdown-item" href="#" data-category="users">Ознайомчий</a>
          </li>
        </ul>
      </li>
      
        <a class="dropdown-item" href="#">Наша команда</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Контакти</a>
      </li>
    </ul>
    <div class="theme-toggle">
      <input type="checkbox" id="toggleTheme" />
      <label for="toggleTheme">
       <img src="./public/img/еllipse.svg" class="icon moon">
    <img src="./public/img/sun.svg" class="icon sun">
      </label>
    </div>
    <span class="hi-user">Вітаємо, User!</span>
  </nav>
</header>