<section data-category="games">
<div class="container-hh" data-category="games">
    <div class="cont">
        <h2 class="h2-hh">Камінь - ножиці - папір</h2>
        <div class="carts">
            <button class="cart-button">
                <img class="imgcart" src="./public/img/stt.png" alt="">
            </button>
            <button class="cart-button">
                <img class="imgcart" src="./public/img/sss.png" alt="">
            </button>
            <button class="cart-button">
                <img class="imgcart" src="./public/img/ppp.png" alt="">
            </button>
        </div>
        
        <p class="round-result"></p>
        
        <div class="result-s">
            <p class="text">Рахунок:</p>
            <p class="text text-result" id="computer-score">Комп’ютер - 0</p>
            <p class="text text-result" id="player-score">Ви - 0</p>
        </div>
        
        <button class="selectvar">Варіант комп’ютера</button>
    </div>
</div>
</section>
