<section class="modal-window">
    <!-- Перше модальне вікно -->
    <div class="modal-overlay" id="welcomeModal">
        <div class="modal">
            <span class="close-btn" id="closeWelcome">×</span>
            <div class="modal-content">
                <h2>Привіт!</h2>
                <p>Ви потрапили на сайт інтерактивних ігор та завдань.<br>
                    Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
                    Бажаємо Вам гарно провести час!</p>

                <h2>Введіть своє ім’я:</h2>
                <div class="icons-username-1">
                    <img src="./public/img/sword-icon.png" alt="icon" />
                    <img src="./public/img/game-icon.png" alt="icon" />
                </div>
                <input type="text" id="username" placeholder="Ваше ім’я..." />
                <div class="icons-username">
                    <img src="./public/img/puzzle-icon.png" alt="icon" />
                    <img src="./public/img/tic-icon.png" alt="icon" />
                </div>
            </div>
            <button id="saveBtn">Зберегти</button>
        </div>
    </div>
    

    <!-- Друге модальне вікно -->
    <div class="modal-overlay" id="thankYouModal">
        <div class="modal">
            <span class="close-btn" id="closeThanks">×</span>
            <div class="modal-overlay-div">
                <div class="icons">
                    <img src="./public/img/sword-icon.png" alt="icon" />
                    <img src="./public/img/game-icon.png" alt="icon" />
                </div>
                <h3>Дякую за підписку!</h3>
                <div class="icons">
                    <img src="./public/img/puzzle-icon.png" alt="icon" />
                    <img src="./public/img/tic-icon.png" alt="icon" />
                </div>
            </div>
        </div>
    </div>
</section>
