<section class="se-s">
    <div class="container-scientists">
      <div class="cont-2">
        <h3 class="select-s">Обери вченого/их</h3>
        <div class="box-s"></div>
      </div>
    </div>
  
    <div class="box-s-button">
      <div class="box-s-button-row row1">
        <button class="box-s-button-cart">Які вчені народилися в 19 ст.</button>
        <button class="box-s-button-cart">Знайти рік народження Albert Einshtein</button>
      </div>
      <div class="box-s-button-row row2">
        <button class="box-s-button-cart">Відсортувати вчених за алфавітом</button>
        <button class="box-s-button-cart">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
      </div>
      <div class="box-s-button-row row3">
        <button class="box-s-button-cart">Відсортувати вчених за кількістю прожитих років</button>
        <button class="box-s-button-cart">Видалити всіх вчених, ім’я яких починається на “А”</button>
      </div>
      <div class="box-s-button-row row4">
        <button class="box-s-button-cart">Знайти вченого, який народився найпізніше</button>
        <button class="box-s-button-cart">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
      </div>
      <div class="box-s-button-row row5">
        <button class="box-s-button-cart">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
      </div>
    </div>
  </section>