<section class="se-s">
    <div class="container-scientists">
        <div class="cont-2">
            <h3 class="select-s">Обери вченого/их</h3>
            <div class="box-s">
                <div class="box-cart-s">
                    <p>Albert Einstein 1879-1955</p>
                </div>
                <div class="box-cart-s">
                    <p>Isaac Newton 1643-1727</p>
                </div>
                <div class="box-cart-s">
                    <p>Galileo Galilei 1564-1642</p>
                </div>
                <div class="box-cart-s">
                    <p>Marie Curie 1867-1934</p>
                </div>
                <div class="box-cart-s">
                    <p>Johannes Kepler 1571-1630</p>
                </div>
                <div class="box-cart-s">
                    <p>Nicolaus Copernicus 1473-1543</p>
                </div>
                <div class="box-cart-s">
                    <p>Max Planck 1858-1947</p>
                </div>
                <div class="box-cart-s">
                    <p>Katherine Blodgett 1898-1979</p>
                </div>
                <div class="box-cart-s">
                    <p>Ada Lovelace 1815-1852</p>
                </div>
                <div class="box-cart-s">
                    <p>Sarah E. Goode 1855-1905</p>
                </div>
                <div class="box-cart-s">
                    <p>Lise Meitner 1878-1968</p>
                </div>
                <div class="box-cart-s">
                    <p>Hanna Hammarström 1829-1909</p>
                </div>
            </div>
        </div>

    </div>
    <div class="box-s-button">
        <div class="box-s-button-row row1">
            <button class="box-s-button-cart">Які вчені народилися в 19 ст.</button>
            <button class="box-s-button-cart">Знайти рік народження Albert Einshtein</button>
        </div>
        <div class="box-s-button-row row2">
            <button class="box-s-button-cart">Відсортувати вчених за алфавітом</button>
            <button class="box-s-button-cart">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
        </div>
        <div class="box-s-button-row row3">
            <button class="box-s-button-cart">Відсортувати вчених за кількістю прожитих років</button>
            <button class="box-s-button-cart">Видалити всіх вчених, ім’я яких починається на “А”</button>
        </div>
        <div class="box-s-button-row row4">
            <button class="box-s-button-cart">Знайти вченого, який народився найпізніше</button>
            <button class="box-s-button-cart">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
        </div>

        <div class="box-s-button-row row5">
            <button class="box-s-button-cart">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
        </div>

        <div class="box-s-button-border"></div>
    </div>
</section>