<section data-category="numbers">
    <div class="container">
        <h1 class="text-1">Вгадай число, яке загадав комп’ютер</h1>

        <div class="game-wrapper">
          <div class="input-container">
            <input class="guess-input" type="number" id="guess-number" placeholder="Введіть число" min="1" max="10">
            <button class="guess-button">
              <img class="imgg" src="/public/img/free-icon-font-search (1).png" alt="#">
            </button>
          </div>
          <div id="guess-result"></div>
        </div>
    </div>
</section>