<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Вгадай число, яке загадав комп’ютер</h1>

    <div class="game-wrapper">
      <div class="input-container">
        <input type="number" id="guess" placeholder="Введіть число" min="1" max="10">
        <button onclick="checkGuess()">
          <img src="img/Group 104.png" alt="#">
        </button>
      </div>
      <div id="result"></div>
    </div>
</body>
</html>